footer.footer.navbar-fixed-bottom
    p
        span(style="text-align:left;float:left") &copy; 2013
        span.hidden-phone(style="text-align:right;float:right") Powered by:
            a(href="#") Jbertrius